<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="CookieTimes" value="45"/>
    <add key="UploadFileExt" value="jpg,jpeg,png,gif,bmp,doc,docx,xls,xlsx,rar,zip,flv"/>
    <add key="UploadFileSize" value="20480"/>
    <add key="UploadFileRename" value="2"/>
    <add key="dbBackUp" value="7"/>
    <!--数据库备份保留天数-->
    <add key="SeoOpen" value="0"/>
    <!--seo控制 默认不启用0 1为启用-->
    <add key="Language" value="CN,EN"/>
    <!--单语言版本value为空即可-->
    <!--多语言控制-->
    <!--以KB为单位-->
    <add key="dbType" value="dbMSSQL"/>
  </appSettings>
  <connectionStrings>
    <!--数据库连接字符串的name不能更改-->
    <add name="dbMSSQL" connectionString="server=.;database=gdmutongshiye20181204;uid=sa;pwd=123456"/>
  </connectionStrings>
  <system.web>
    <!--设置全局上传大小-->
    <customErrors mode="RemoteOnly" defaultRedirect="~/error/404.htm">
      <error statusCode="404" redirect="~/error/404.htm"/>
      <error statusCode="500" redirect="~/error/500.htm"/>
    </customErrors>
    <!--<customErrors mode="Off"/>-->
    <httpRuntime maxRequestLength="2000000"/>
    <pages validateRequest="false" enableEventValidation="false">
      <controls>
        <!--公共版-->
        <add tagPrefix="webdiyer" namespace="Wuqi.Webdiyer" assembly="AspNetPager"/>
        <add tagName="province" tagPrefix="uc" src="~/uc/ucProvince.ascx"/>
        <add tagName="upload" tagPrefix="uc" src="~/uc/uploadFile.ascx"/>
        <!--中文版-->
        <add tagName="info" tagPrefix="uc" src="~/uc/ucGeneralCN.ascx"/>
        <add tagName="infoindxe" tagPrefix="uc" src="~/uc/ucGeneralCNIndex.ascx"/>
        <add tagName="head" tagPrefix="uc" src="~/uc/ucHeaderCN.ascx"/>
        <add tagName="foot" tagPrefix="uc" src="~/uc/ucFooterCN.ascx"/>
        <add tagName="banner" tagPrefix="uc" src="~/uc/ucBannerCN.ascx"/>
        <add tagName="lefter" tagPrefix="uc" src="~/uc/ucLefterCN.ascx"/>
        <!--英文版-->
        <add tagName="infoen" tagPrefix="uc" src="~/uc/ucGeneralEN.ascx"/>
        <add tagName="headen" tagPrefix="uc" src="~/uc/ucHeaderEN.ascx"/>
        <add tagName="footen" tagPrefix="uc" src="~/uc/ucFooterEN.ascx"/>
        <add tagName="banneren" tagPrefix="uc" src="~/uc/ucBannerEN.ascx"/>
        <add tagName="lefteren" tagPrefix="uc" src="~/uc/ucLefterEN.ascx"/>
        <!--手机中文版-->
        <add tagName="infom" tagPrefix="uc" src="~/uc/ucGeneralMCN.ascx"/>
        <add tagName="headm" tagPrefix="uc" src="~/uc/ucHeaderMCN.ascx"/>
        <add tagName="footm" tagPrefix="uc" src="~/uc/ucFooterMCN.ascx"/>
        <!--手机英文版-->
        <add tagName="infomen" tagPrefix="uc" src="~/uc/ucGeneralMEN.ascx"/>
        <add tagName="headmen" tagPrefix="uc" src="~/uc/ucHeaderMEN.ascx"/>
        <add tagName="footmen" tagPrefix="uc" src="~/uc/ucFooterMEN.ascx"/>
      </controls>
      <namespaces>
        <!--导入命名空间-->
        <add namespace="System.Data"/>
        <add namespace="System.Collections.Generic"/>
      </namespaces>
    </pages>
    <compilation debug="true" batch="false">
      <assemblies>
        <add assembly="System.Management, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
      <buildProviders>
        <add extension=".html" type="System.Web.Compilation.PageBuildProvider"/>
      </buildProviders>
    </compilation>
    <machineKey validation="3DES"/>
  </system.web>
  <system.webServer/>
</configuration>