body { font:12px/1.5 arial,宋体,微软雅黑,simsun,georgia,verdana,helveti,ca,sans-serif; color:#555555; margin:0px; position:relative; z-index:0; word-break:break-all; word-wrap:break-word;}
img{ border-width:0px; margin:0px; padding:0px;}
a{text-decoration:none; color:#555555;}
a:hover{text-decoration:none;}
h1,h2,h3,h4,h5,dl,dt,dd,p{ margin:0px; padding:0px;}
ul{ padding:0px; margin:0px;}
ul li{ list-style-type:none; margin:0px; }
.m{width:1002px; margin:auto;}
.border_radius { border-radius:5px; }
input,select{vertical-align:middle;} 
table { empty-cells: show; border-collapse: collapse; }
img{ border:0px; vertical-align:middle; }
.clear{ clear:both; }
.minlineheight{height:5px; overflow:hidden; clear:both;}
.lineheight{height:10px; overflow:hidden; clear:both;}
.lineHeight{height:15px; overflow:hidden; clear:both;}
.LineHeight{height:25px; overflow:hidden; clear:both;}
a.btn_img{display:block; width:70px; height:24px; background:url(../images/but_img.gif) no-repeat 0 0; }

/*全局样式
===============================================*/
/* Clear Fix */ 
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;} 
.clearfix{display:inline-block;} 
/* Hide from IE Mac */ 
.clearfix {display:block;} 
/* End hide from IE Mac */ 
/* end of clearfix */
.ime-disabled{ ime-mode:disabled; } 
.left{ float:left; }
.right{ float:right; }
.clear{ clear:both; }
.line5{ clear:both;height:5px; font-size:1px; }
.line10{ clear:both;height:10px; font-size:1px; }
.line15{ clear:both;height:15px; font-size:1px; }
.mainbody{ padding:10px; }
.navigation{ padding-left:5px; color:#999999; font-family:'宋体'; line-height:28px; }
	.navigation .back{float:right; padding-left:18px; background:url(arrow_left.png) no-repeat left 5px;}
.navtips{ padding:8px 10px 8px 30px; position:relative; border:1px solid #FCDEA7; background:url(ico-5.png) no-repeat 10px 9px #f8f8d8; color:#4f4f4f; line-height:1.5em; }
	.navtips .close{ position:absolute; top:10px; _top:0px; right:5px; _right:0px; display:block; width:12px; height:12px; background:url(icon_del.gif) no-repeat; text-indent:-9999px; cursor:pointer;}

/*管理中心样式2012-5-17新增
=============================================*/
.nav_icon{ padding-left:18px; background:url(../images/memeber.gif) no-repeat left 5px; font-family:"微软雅黑",Arial; }
	.nav_icon i{ font-style:normal; font-weight:bold; color:#0e608e; }
.nlist1{ line-height:45px; font-family:"微软雅黑"; }
	.nlist1 ul{ padding:0 0 0 20px;}
	.nlist1 ul li{ float:left; margin-right:10px; width:32%; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; }
.nlist2{ line-height:30px; border:1px solid #e1e1e1; font-family:"微软雅黑"; }
	.nlist2 h2{ margin:0px; padding:0 0 0 40px; background:url(../images/icon_site.gif) no-repeat 20px center; font-size:12px; font-weight:bold; color:#0e608e; line-height:28px; height:28px; }
	.nlist2 ul{ padding:0 0 0 20px; }
	.nlist2 ul li{ float:left; margin-right:10px; width:32%; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; }
.sub_nav_list{ float:left; width:398px; font-family:"微软雅黑"; overflow:hidden; }
	.sub_nav_list h3{ float:left; margin:0 15px 0 0; padding:10px 6px; border:1px solid #ebebeb; width:15px; height:143px; line-height:22px; text-align:center; font-weight:normal; font-size:12px; color:#0e608e; background:url(../images/li_bg.gif) repeat-x left 65px;}
	.sub_nav_list ul{ float:left; width:344px; }
	.sub_nav_list ul li{ display:inline; float:left; margin-right:20px; height:95px; }
	.sub_nav_list ul li a{ display:block; width:54px; height:58px; padding:5px; border:1px solid #ebebeb; line-height:24px; text-align:center; }
	.sub_nav_list ul li a:hover{ background:#ebebeb; }
	.sub_nav_list ul li img{ text-align:center;}
.note_list{ margin-left:398px; border:1px solid #ebebeb; font-family:"微软雅黑"; font-size:12px; height:163px; overflow:hidden; }
	.note_list h3{ margin:0; padding:0 10px; line-height:30px; font-size:12px; padding-left:25px; }
	.note_list h3.site{ background:url(../images/icon_site.gif) no-repeat 5px center; }
	.note_list h3.msg{ background:url(../images/icon_msg.gif) no-repeat 5px center; }
	.note_list ul{ padding:0 10px; }
	.note_list ul li{ color:#005eac; line-height:18px; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; }

/* Header */
.Header{height:84px; width:100%; background:url(../images/top_line.jpg) repeat-x 0 0; position:relative;}
.Header .headBar{float:left; padding-left:270px; height:84px;  position:relative; }
.Header .logo{width:222px; height:46px; position:absolute; left:23px; top:20px;  display:block; background:url(../images/main_logo.gif) no-repeat 0 0;}
.Header .MenuDiv{display:block;position:absolute; left:270px; width:70%; padding-left:20px; height:30px;  display:table; bottom:2px; background:url(../images/nav.jpg) no-repeat 0 0px;}
.Header .MenuDiv ul {overflow:hidden;height:30px;}
.Header .MenuDiv ul li{float:left; height:30px; line-height:30px;text-align:center; padding-left:30px; min-width:80px;}
.Header .MenuDiv ul li a{ font-weight:bold; padding-right: 30px; display:block;}
.Header .MenuDiv ul li.current,.Header .MenuDiv ul li:hover{background:url(../images/navbg.jpg) no-repeat 0 0px;}
.Header .MenuDiv ul li.current a,.Header .MenuDiv ul li:hover a{background:url(../images/navbg.jpg) no-repeat top right; color:white;}

.Header .itemBar{ position:absolute; right:30px; top:20px;}
.Header .itemBar ul li{display:inline-block; *display:inline;}
.Header .itemBar ul li a{padding:2px 0px 2px 20px;background-image:url(../images/icon_top.gif); background-repeat:no-repeat;}
.Header .itemBar ul li a.name{font-weight:bold; color:#0089CF; background:no-repeat; padding-left:0px;}
.Header .itemBar ul li a.c{ background-position:left -133px;}
.Header .itemBar ul li a.pas{ background-position:left -52px;}
.Header .itemBar ul li a.about{ background-position:left -80px;}
.Header .itemBar ul li a.out{ background-position:left -107px;}


/*Footer*/
.Footer{height:50px; text-align:center; background:url("../images/top_line.jpg") repeat-x scroll 0 0 transparent; line-height:50px;}
/*Containert*/
.Container{background:url("../images/v_tabpageBar_bg.gif") repeat-x left top; padding-top:10px; padding-right:10px; border-bottom:1px solid #d0d0d0;}
.Container_Left{float:left; width:110px; background:url("../images/v_tabpageBar_bg.gif") repeat-y right top; border-bottom:1px solid #D0D0D0; }
.ContainerMain{margin-left:120px;border-bottom:1px solid #D0D0D0; border-bottom-width:0px;}

.Container_Left ul li{background:url("../images/v_tabOutBg.gif") no-repeat scroll right top; height:36px; padding-left:20px; line-height:36px;}
.Container_Left ul li a{display:block;height:36px;}
.Container_Left ul li:hover, .Container_Left ul li.current{background:url("../images/v_tabActiveBg.gif") no-repeat scroll right top transparent;}
.Container_Left ul li:hover a, .Container_Left ul li.current a{font-weight:bold; color:white;}
/* 樹形菜單樣式 */
treeview, .treeview ul { padding: 0; margin: 0; list-style: none; }
.treeview ul { background-color: white; margin-top: 4px; }
.treeview .hitarea { background: url(../images/treeview-default.gif) -64px -25px no-repeat; height: 16px; width: 16px; margin-left: -16px; float: left; cursor: pointer; }/* fix for IE6 */
* html .hitarea { display: inline; float: none; }
.treeview li { margin: 0; padding: 3px 0pt 3px 16px; }
.treeview a.selected { background-color: #eee; }
#treecontrol { margin: 1em 0; display: none; }
.treeview .hover { color: red; cursor: pointer; }
.treeview li { background: url(../images/treeview-default-line.gif) 0 0 no-repeat; }
.treeview li.collapsable, .treeview li.expandable { background-position: 0 -176px; }
.treeview .expandable-hitarea { background-position: -80px -3px; }
.treeview li.last { background-position: 0 -1766px; }
.treeview li.lastCollapsable, .treeview li.lastExpandable { background-image: url(../images/treeview-default.gif); }
.treeview li.lastCollapsable { background-position: 0 -111px; }
.treeview li.lastExpandable { background-position: -32px -67px; }
.treeview div.lastCollapsable-hitarea, .treeview div.lastExpandable-hitarea { background-position: 0; }
.treeview-red li { background-image: url(../images/treeview-red-line.gif); }
.treeview-red .hitarea, .treeview-red li.lastCollapsable, .treeview-red li.lastExpandable { background-image: url(../images/treeview-red.gif); }
.treeview-black li { background-image: url(../images/treeview-black-line.gif); }
.treeview-black .hitarea, .treeview-black li.lastCollapsable, .treeview-black li.lastExpandable { background-image: url(../images/treeview-black.gif); }
.treeview-gray li { background-image: url(../images/treeview-gray-line.gif); }
.treeview-gray .hitarea, .treeview-gray li.lastCollapsable, .treeview-gray li.lastExpandable { background-image: url(../images/treeview-gray.gif); }
.treeview-famfamfam li { background-image: url(../images/treeview-famfamfam-line.gif); }
.treeview-famfamfam .hitarea, .treeview-famfamfam li.lastCollapsable, .treeview-famfamfam li.lastExpandable { background-image: url(../images/treeview-famfamfam.gif); }
.treeview .placeholder { background: url(../images/ajax-loader.gif) 0 0 no-repeat; height: 16px; width: 16px; display: block; }
.filetree li { padding: 3px 0 2px 16px; }
.filetree span.folder, .filetree span.file { padding: 1px 0 1px 16px; display: block; }
.filetree span.folder { background: url(../images/folder.gif) 0 0 no-repeat; }
.filetree li.expandable span.folder { background: url(../images/folder-closed.gif) 0 0 no-repeat; }
.filetree span.file { background: url(../images/file.gif) 0 0 no-repeat; }
 /*filetree自定義樣式*/
.filetree { border:1px solid #D0D0D0; width:180px; float:left;/*background:#F9FCFF;*/}
.filetree ul{background:none;}
/* ContainerMain_Box */
input[type="submit"],input[type="reset"],input[type="button"],.defaultTbl .SrvButton{	color: #0099DD;	background:#fff url(../images/buttonBg.png) repeat-x bottom left;	cursor: pointer;	padding-left: 8px;	padding-right: 7px;	height:21px;	border: 1px solid #667788;	border-color: #AABBCC #99AABB #667788 #99AABB;	-moz-border-radius: 1px;	vertical-align:middle;}
.ContainerMain_Box{margin-left:190px;}
.Icon_item{background-image:url(../images/Icon_item.gif); background-repeat:no-repeat;}

.icon_xingjian2{background-position:left -3px;}/*新建*/
.icon_xingjian{background-position:left -25px;}/*批量新建*/
.icon_publish{background-position:left -49px;}/*發布整貼*/
.icon_yulan{background-position:left -74px;}/*預覽*/
.icon_shanchu{background-position:-1px -98px;}/*刪除*/
.icon_edit{background-position:left -123px;}/*新增字段*/
.icon_build{background-position:left -145px;}/*批量移除字段*/
.icon_pizhu{background-position:-4px -172px;}/*批量移除字段*/
.icon_searchitem{background-position:-4px -195px;}/*當前欄目 信息类别*/
.icon_remove{background-position:-2px -219px;}/*移除*/
.icon_listhide{background-position:-2px -244px;}/*隐藏列表*/
.icon_listshow{background-position:-2px -270px;}/*显示列表*/
.icon_save{background-position:-2px -295px;}/*保存*/
.icon_devert{background-position:-2px -318px;}/*轉移*/
.icon_fuzhi{background-position:-2px -343px;}/*复制*/
.icon_zhuanyi{background-position:-2px -369px;}/*回收站*/
.icon_paixu{background-position:-2px -368px;}/*排序*/
.icon_export{background-position:-2px -449px;}/*导出*/
.icon_import{background-position:-1px -421px;}/*导入*/
.icon_shenghe{background-position:-2px -473px;}/*审核通过*/
.icon_publish_default{background-position:-2px -496px;}/*发布整站*/
.icon_safe{background-position:-2px -516px;}/*安全*/
.icon_seo{background-position:-2px -541px;}/*seo*/
/* 欄目管理tab選項 */
.column_Box {}
.column_Box em{font-weight:bold; color:#FF0000;  font-family:微软雅黑;}
.column_Box .tab{ overflow:hidden;}
.column_Box .tab ul{ height:30px;overflow:hidden;}
.column_Box .tab ul li{float:left; padding-left:20px; height:30px; line-height:30px;background:url("../images/cont_TagBg.jpg") no-repeat scroll left top; margin-right:3px; width:174px;}
.column_Box .tab ul li a{padding-right:20px; background:url("../images/cont_TagBg.jpg") no-repeat scroll right top; display:block; height:30px;} 
.column_Box .tab ul li.current{background-position:left -30px;}
.column_Box .tab ul li.current a{font-weight:bold; color:#0071B0;background-position:right -30px;}
.column_Box .wrapBox{border:1px solid #d0d0d0; margin-top:-1px;}
.column_Box .body{ padding:10px;}
.column_Box .body .item{height:24px; overflow:hidden;margin-bottom:5px; position:relative;}

/*显示JS提示框*/
#msgprint.pcent{ top:30px; right:45%; position:absolute; z-index:99; opacity:0.9; display:none; }
#msgprint.success,#msgprint.error,#msgprint.warning{ padding:5px 10px 5px 24px; }
#msgprint.success{ border:1px solid #CCF9C1; color:#090; background:url(../images/msg_icon.gif) 5px 6px no-repeat #F1FEF2; }
#msgprint.error{ border:1px solid #F9F2B7; color:#F00; background:url(../images/msg_icon.gif) 5px -23px no-repeat #FDF8E8; }
#msgprint.warning{ border:1px solid #FAF4B8; color:#C52716; background:url(../images/msg_icon.gif) 5px -53px no-repeat #FEFDE9; }

a.dot_Item{ height:24px; margin-right:5px; padding-left:28px; position:relative;  float:left;background:url("../images/Button_bg.jpg") no-repeat scroll left top transparent;}
a.dot_Item i{font-style:normal; line-height:24px; padding:0px 11px 0px 5px; background:url("../images/Button_bg.jpg") no-repeat scroll right top; display:inline-block;}
a.dot_Item:hover{color:#114477;background-position:left -24px;}
a.dot_Item:hover i{background-position:right -24px;}
a.dot_Item .Icon_item{display:block; width:20px; height:20px; overflow:hidden; left:10px; top:2px; position:absolute;}

.column_Box .body table{border-collapse:collapse;width:100%;}
.column_Box .body table td{padding:2px 5px; border-collapse:collapse;font-size:12px; border:1px solid #D2D5E0;line-height:24px;}
.column_Box .body table th{padding:2px 5px; border-collapse:collapse;font-size:12px;height:34px; border:1px solid #D2D5E0;line-height:34px;}
.column_Box .body table td.td1{width:85px; text-align:right;}
.column_Box .body table .tdColor{}
.column_Box .body table tr:hover{background:#FcF3F2;}
.column_Box .body .center{text-align:center;}
.column_Box .body .eil_right{text-align:left;}
.column_Box .body table thead th{ background:url(../images/table_titlebg.jpg) repeat-x bottom; height:34px; font-size:12px; white-space:nowrap}
.column_Box .body table td.td2{width:125px; text-align:right;}
/* 模版管理 */
.column_Box .body table .eil_right {position:relative;}
.column_Box .body table .eil_right img{cursor:pointer; float:left; padding-top:2px; }

table tr.tr1 .eil_right{padding-left:20px;}
table tr.tr2 .eil_right{padding-left:40px;}
table tr.tr3 .eil_right{padding-left:60px;}
table tr.tr4 .eil_right{padding-left:80px;}
table tr.tr5 .eil_right{padding-left:100px;}
table tr.tr6 .eil_right{padding-left:120px;}

/* 按栏目管理 */
.column_Box .body table .td_btn{position:relative;}
.column_Box .body table th.td_btn .t{float:left;}
.column_Box .body table th a.btn_img{float:right; margin-top:3px;}
.column_Box .body .item .searchBar{ position:absolute; right:0px; top:0px; }
.column_Box .body .item .searchBar .btn_search {background: url("../images/Button_green.jpg") no-repeat scroll 0 0 rgba(0, 0, 0, 0);border: medium none;color: #FFFFFF;cursor: pointer;height: 22px;width: 42px;}
.item .searchBar .txt{height:18px; line-height:18px; width:100px; background:url("../images/text_bg.jpg") repeat-x scroll 0 0; padding:0px; border:1px solid #b4b4b4;}

.column_Box .divHead .SrvButton {background: url("../images/Button_green.jpg") no-repeat scroll 0 0 rgba(0, 0, 0, 0);border: medium none;color: #FFFFFF;cursor: pointer;height: 22px;width: 42px;}
.column_Box .divHead .textSearch{height:18px; line-height:18px; width:100px; background:url("../images/text_bg.jpg") repeat-x scroll 0 0; padding:0px; border:1px solid #b4b4b4;}
.column_Box .divHead #txtPageSize{height:18px; line-height:18px; background:url("../images/text_bg.jpg") repeat-x scroll 0 0; padding:0px; border:1px solid #b4b4b4;}
.column_Box .divHead .dropList{font-size:12px; height:20px;line-height:20px; border:1px solid #D1D1D1; color:#003366; }

/*上传设置*/
fieldset{margin:5px auto;border:1px solid #CCCCCC;}
.td3{text-align:right; width:160px;}
fieldset table{}
fieldset table td{padding:3px 4px;}
fieldset table td .txt{height:18px; line-height:18px;background:url("../images/text_bg.jpg") repeat-x scroll 0 0; padding:0px; border:1px solid #b4b4b4;}
fieldset table td .txt_len1{width:80px;}
fieldset table td .txt_len2{width:300px;}
/*首页*/
.about_web{padding:5px 0px; overflow:hidden;}
.about_web .right{float:right; }

fieldset{}
fieldset .color{color:#FF0000;}
fieldset legend{color:#E98015;}
fieldset legend.leg{ background:url(../images/icon_title.png) no-repeat 3px center; padding-left:16px;}

.table_Box {border:1px solid #BDC0D1;}
.table_Box table tr td { padding:8px; }
.table_Box table tr td.td_right{border-left:1px solid #BDC0D1; background:url(../images/default_bg_3.png) repeat 0 0;}
.table_Box table tr td.td_right ul{background:url(../images/default_bg_2.png) no-repeat center bottom; padding:6px 0px;}
.table_Box table tr td.td_right ul li{line-height:20px; }
.table_Box table tr td.td_right .t{color:#000;}
.table_Box td.set{} 
.table_Box td.set .title{ color:#E98015; padding:8px 0px 5px 14px;}
.table_Box td.set ul li {position:relative; padding-left:14px; line-height:24px;}
.table_Box td.set ul li .info{background:url(../images/Icon_item.gif) no-repeat -2px -516px; padding-left:30px; display:inline-block;}
.table_Box td.set ul li .icon_seo{background-position:-2px -541px;}
.table_Box td.set ul li .info a{color:#0071B0;}
.table_Box td.set ul li .info a:hover{text-decoration:underline;}
.table_Box td.set ul li .float{display:block; position:absolute; top:0px; right:65px;}
.table_Box td.set ul li .float a:hover{color:#0071B0;text-decoration:underline;}


.defaultTable{ border:solid 1px #D2D5E0; width:99%; margin:10px 5px;}
.defaultTable th{ height:25px; line-height:25px; padding:5px 0; text-align:center; color:#15428B; background-color:#E6F5FA;}
.defaultTable td{ height:20px; line-height:20px; padding:5px 0; background-color:#F3F3FA}
.defaultTable .lefttd{background-color:#F3FAFF; text-align:center}

.defaultTblItem{ border:solid 0px #8DB2E3; width:100%; margin:10px auto; }
	.defaultTblItem th{ height:25px; line-height:25px; padding:5px 0; text-align:center; color:#15428B; background-color:#D9E7F8;}
	.defaultTblItem td{ height:20px; line-height:20px; padding:5px 0; background-color:#F3F3FA; text-align:left}
	.defaultTblItem .tdLeft{background-color:#F3FAFF; text-align:right; width:100px}

 
.divFoot {
    height: auto;
    line-height: 20px;
    margin: 5px;
    padding: 0;
    text-align: left;
}
.divDtls th,.divDtls td,.divFoot th,.divFoot td{
    font-size:12px;}
.divNotDataInfo {
    border: 1px solid #D2D5E0;
    padding: 20px 0;
    text-align: center;
}

.treebox {
    padding-right: 12px;
    width: 142px;
}
.treeItem {
    background: url("../images/treeItem_bg.gif") no-repeat scroll left top #F9FCFF;
    border: 1px solid #C5CADA;
    height: 480px;
    line-height: 20px;
    padding: 0;
    width: 180px;
}
.x-panel {
    border-color: #D0D0D0;
    border-style: solid;
    border-width:0;
}


    /*编辑表格样式
=============================================*/
.defaultTbl{ width:100%; border:1px solid #EDECFF; font-family:Verdana, Geneva, sans-serif; }
.defaultTbl th,.defaultTbl td.tdLeft{padding:5px 8px 5px 0;color:#333;font-weight:700;text-align:right;}
.defaultTbl td{padding:6px 0 5px 10px;text-align:left;color:#717171;line-height:200%}
.defaultTbl label{ margin-left:10px; padding:7px 0 0; font-family:"宋体"; }
.defaultTbl label.attr{color:#1d1d1d}
.defaultTbl label input{ margin-right:5px; vertical-align:middle;}
.defaultTbl span label{ margin:0; padding:0; }
.defaultTbl textarea{font-size:12px;padding:3px;color:#000;border:1px #d2d2d2 solid;vertical-align:middle; font-family:"微软雅黑";}
.defaultTbl textarea.small{ width:350px; height:75px;}
.defaultTbl textarea.big{ width:500px; height:350px;}
.defaultTbl img.operator{ width:12px; height:12px; margin:0 6px; cursor:pointer; vertical-align:bottom; }

/*订单产品列表*/
#gvProList th{ text-align:center}

input[type=text]:hover,textarea:hover,input[type=password]:hover { border-color: #00ccff; }
input.inputTextFocus { border-color: #FF8800;background:#F7FAFC url(../images/text_bg.gif) repeat-x left top;}
input[type=text]:focus,textarea:focus,input[type=password]:focus { border-color: #FF8800;background:#F7FAFC url(../images/text_bg.gif) repeat-x left top;}
#txtPageSize,.textBg{ margin-right:5px; padding:0 3px 0 3px; height:22px; line-height:22px; border:1px solid #D7D7D7; vertical-align:middle; font-size:12px;  }

.skin {width:230px;margin-right:10px; float:left;}
.skin div{text-align:center;}
.skin .selects{width:220px; text-align:center;}

.box{width:80px;float:left}
.box input[type=radio]{float:left;vertical-align:middle;line-height:27px;height:27px;}
.box samp{width: 50px; height: 30px; display: block;float:right}